<ion-view view-title="Preghiere">
   <ion-content>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
                ng-repeat="currPreg in preghiere" type="item-text-wrap" href="#/tab/chats/{{currPreg._id}}">
        <img ng-src="{{currPreg.img}}">
        <h2>{{currPreg._id}}</h2>
        <p>{{currPreg.titolo}}</p>
        <p>{{currPreg.repeat}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list> -->
    <div id="preghiera" align="center" ng-controller="PreghiereCtrl">
      <h4>{{preghiera._id}}</h4>
      <h2>{{preghiera.titolo}}</h2>
      <h4>{{preghiera.preghiera}}</h4>
      <h3>Ripeti per {{preghiera.repeat}} volte</h3>
       <button class="button button-block button-balanced" ng-click="doRefresh()">Prega ancora!</button>
       </div></ion-content></ion-view>