<ion-view view-title="Storia">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-body">
                <b>Pio da Pietrelcina</b>, al secolo Francesco Forgione (Pietrelcina, 25 maggio 1887 – San Giovanni Rotondo, 23 settembre 1968), è stato un presbitero italiano dell'Ordine dei frati minori cappuccini; la Chiesa cattolica lo venera come santo e ne celebra la memoria liturgica il 23 settembre, anniversario della morte.<br> È stato destinatario, ancora in vita, di una venerazione popolare di imponenti proporzioni, anche in seguito alla fama di taumaturgo attribuitagli dai devoti, cosí come è stato anche oggetto di aspre critiche in ambienti ecclesiastici e non.
                <br>(Fotne <a href="https://it.wikipedia.org/wiki/Padre_Pio_da_Pietrelcina" target="_blank">Wikipedia</a>)
            </div>
        </div>
    </ion-content>
</ion-view>